Source: odr
Section: unknown
Priority: optional
Maintainer: Ivan Lyanguzov <tzong@ya.ru>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.6.0
Homepage: https://github.com/tzong/odr
#Vcs-Browser: https://salsa.debian.org/debian/odr
#Vcs-Git: https://salsa.debian.org/debian/odr.git
Rules-Requires-Root: no

Package: odr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Onsite Data Recorder
 Onsite Data Recorder stores performance data from storage arrays
 by regularly collecting output of performance related commands
 of array's CLI
