BODY {  font-family : "HP Simplified", Helvetica, Arial;
        font-size : 10pt;
        font-weight: normal;
}

TR {    font-family : "HP Simplified", Helvetica, Arial;
        font-size : 10pt;
}

TD {    padding : 1pt;
        padding-left: 12pt;
}

H3 {    font-family : "HP Simplified", Helvetica, Arial;
        font-size : 12pt;
        font-weight: normal;
}

