body {  font-family : Helvetica, Arial;
        font-size : 10pt;
        font-weight: normal;
}

tr {    font-family : Helvetica, Arial;
        font-size : 10pt;
}

td {    padding : 1pt;
        padding-left: 12pt;
}

h3 {    font-family : Helvetica, Arial;
        font-size : 12pt;
        font-weight: normal;
}
